.card-main {

}
.card-button {
    width: 50px;
    height: 20px;
    color: black;
    background-clip: teal;
}
h4{
    color: white;
    font-size: 15px;
    text-shadow: -1.5px 0 black, 0 1.5px black, 1.5px 0 black, 0 -1.5px black;
}