#logo {
  background-image: url("./logo.png");
  width: 358px;
  height: 162px;
}

.App {
  text-align: center;
}










h1 {
 color: white;
 text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}
